<div class="store" [appColor]="themingService.bg.darken(.4)" [isBackground]="true">
	<div class="store-banner" [style.padding-bottom.px]="bannerHeight">
		<!-- Store Logo -->
		<div class="store-logo mat-elevation-z3" [appColor]="themingService.bg.lighten(.2)" [isBackground]="true">
			<div class="logo-image"></div>
		</div>

		<!-- Store Heading -->
		<div class="store-heading">
			<div class="store-heading-content">
				<p>Become a 7TV Suscriber!</p>
				<span>Get some cool cosmetic perks and support the development</span>
			</div>
		</div>
		<div class="store-heading-gradient" #gradient></div>
	</div>

	<div>
		Coming soon
	</div>
</div>