<div class="about">
    <!-- Heading -->
    <div class="heading mat-elevation-z3" [appColor]="themingService.bg.darken(.2)" [isBackground]="true">
        <mat-icon>info</mat-icon>
        <span class="ml-1">About</span>

    </div>


    <!-- Content -->
    <div class="content flex-fill">
        <h2>What is 7TV?</h2>
        <p>7TV is a new emote service and extension, providing custom emotes at no fee and supporting more formats to increase artistic freedom.</p>
        
        <h2>Key Features</h2>
        <div class="feature-list">
            <div class="feature-name" *ngFor="let f of featureList">
                <mat-icon>circle</mat-icon>

                <span>{{f}}</span>
            </div>
        </div>

        <h2>Frequently Asked Questions</h2>
        <div>
            <div class="faq-question" *ngFor="let qa of faq">
                <p>{{qa.question}}</p>
                <span>{{qa.answer}}</span>
            </div>
        </div>
        
        <div class="my-2"></div>

        <h2>Have a question?</h2>
        <p>
            You can contact us on our <a [href]="discordInvite | async">Discord</a> server, <a [href]="appService.twitterURL">Twitter</a>
            or via email <a [href]="'mailto:' + appService.contactEmail "> {{ appService.contactEmail }} </a>
        </p>
    </div>

</div>