.about {
    display: flex;
    flex-direction: column;

    .heading {
        z-index: 1;
        padding: 1em;
        display: flex;
        align-items: center;
    }

    .content {
        display: block;
        padding: 2.5%;

        .feature-list {
            margin-bottom: 1em;
            .feature-name {
                padding-left: 1em;
                padding-bottom: .25em;
                padding-top: .25em;
                display: flex;
                align-items: center;
                font-size: 1.15em;

                span { margin-left: .5em; }
            }
        }
    }
}