<div class="about">
    <!-- Heading -->
    <div class="heading mat-elevation-z3" [appColor]="themingService.bg.darken(.2)" [isBackground]="true">
        <mat-icon>info</mat-icon>
        <span class="ml-1">About</span>

    </div>


    <!-- Content -->
    <div class="content flex-fill">
        <p>7TV is an open-source, free third party emote extension for Twitch</p>
        <p></p>
    
        <a href="https://github.com/SevenTV" target="_blank">Help contribute on GitHub!</a>
    
        <p>
            <code>It's a third party thing LULW</code>
        </p>
    </div>

</div>