.about {
    display: flex;
    flex-direction: column;

    .heading {
        z-index: 1;
        padding: 1em;
        display: flex;
        align-items: center;
    }

    .content {
        display: block;
        padding: 2.5%;
    }
}