.promotion {
	display: block;
	margin-bottom: 2em;

	@media screen and (min-width: 900px) {
		margin-right: 20%;
		margin-left: 20%;
	}

	.promotional-content {
		border-radius: 0.25em;
		padding: 1em;

	}

	.perks-list {
		display: flex;
		flex-direction: column;

		.perk {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			min-height: 8em;
			margin-bottom: 1em;

			&.has-divider {
				border-bottom: solid 1px white;
			}
			&.coming-soon {
				.perk-title {
					color: gray;
				}
			}

			&.perk-paints {
				.paint-preview {
					font-size: 1.5em;
					font-weight: 700;
					animation: NametagGradientCarousel 3s infinite;
					background-size: cover;
					background-clip: text;
					-webkit-background-clip: text;
					filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
					-webkit-text-fill-color: transparent;
				}

				> .perk-title > .perk-description {
					[paint] {
						font-weight: 700;
						background-size: cover;
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));

						&[paint="candy-cane"] {
							background-image: repeating-linear-gradient(45deg, white 10%, white 20%, rgb(255, 100, 100) 20%, rgb(255, 100, 100) 30%);
						}
						&[paint="tinsel"] {
							background-image: linear-gradient(30deg, rgb(20, 230, 80), rgb(20, 230, 80) 10%, #ff513a 70%, #F8B229 90%);
						}
						&[paint="ice-and-snow"] {
							background-image: radial-gradient(circle, #53bcca 20%, #2edcf3, #3f6de9 40%, #eeeeee 80%);
						}
					}
				}
			}
		}

		.perk .perk-title {
			z-index: 5;
			display: flex;
			flex-direction: column;
			font-family: 'Metrophobic', sans-serif;
			font-size: 2em;
			line-height: 1em;
			width: 60%;

			.perk-description {
				line-height: 1.25em;
				margin-top: 0.5em;
				font-size: 0.5em;
				color: gray;
			}
		}

		.perk .perk-image {
			height: 6em;

			img {
				max-width: 100%;
				max-height: 100%;

				&.is-rounded {
					border-radius: 1em;
				}
			}
		}
	}
}

.perk-is-coming-soon {
	display: block;
	position: relative;
	margin-left: 0.1em;

	color: red;
	font-size: 0.5em;
}

.perk-is-new {
	background-color: rgb(66, 186, 66);
	border-radius: 0.3em;
	margin-top: 0.25em;
	margin-left: 0.5em;
	padding: 0.1em;
	padding-right: 0.3em;
	font-size: 0.75em;
	width: min-content;
}

.perk-is-limited {
	background-color: rgb(141, 26, 218);
	border-radius: 0.3em;
	margin-top: 0.25em;
	margin-left: 0.5em;
	padding: 0.1em;
	padding-right: 0.3em;
	font-size: 0.75em;
	width: min-content;
}

.perk-zerowidth {
	.zw-emote-display {
		position: relative;
		z-index: 0;
		transform: translateY(-10%);

		img {
			width: 6em;
			height: 6em;
		}

		span {
			position: absolute;
			top: -20px;
			bottom: -20px;
			left: -20px;
			right: -20px;
			margin: auto;
			pointer-events: none;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

@keyframes NametagGradientCarousel {
	0% {
		background-image: repeating-linear-gradient(45deg, white 10%, white 20%, rgb(255, 100, 100) 20%, rgb(255, 100, 100) 30%);
	}
	25% {
		background-image: repeating-linear-gradient(45deg, white 10%, white 20%, rgb(255, 100, 100) 20%, rgb(255, 100, 100) 30%);
	}
	50% {
		opacity: 1;
		background-image: linear-gradient(30deg, rgb(20, 230, 80), rgb(20, 230, 80) 10%, #ff513a 70%, #F8B229 90%);
	}
	100% {
		background-image: radial-gradient(circle, #53bcca 20%, #2edcf3, #3f6de9 40%, #eeeeee 80%);
	}
}
