<div class="promotion">
	<div class="test"></div>
	<div class="promotional-content" [appColor]="themingService.bg.darken(.1)" [isBackground]="true">
		<div class="perks-list">
			<!-- Perk: Paints -->
			<div class="perk has-divider perk-paints">
				<span class="perk-title">
					<div >
						<span>Nametag Paints</span>
						<span *ngTemplateOutlet="isNewPerk"></span>
					</div>

					<p class="perk-description">
						<span>
							Acquire new unique paints for your username in Twitch Chat. In January, subscribers get the
							<span paint="sunset">Sunset</span>, <span paint="soft-fire">Soft Fire</span> and <span paint="shallow-sea">Shallow Sea</span> paints.


							<p [ngStyle]="{ fontStyle: 'italic', marginTop: '0.25em' }">
								Visible for users on Chrome & Firefox with the 7TV Extension
							</p>
						</span>
					</p>
				</span>


				<div>
					<span class="paint-preview"> {{ (clientService.getUsername() | async) || 'YourUsername' }} </span>
				</div>
			</div>

			<!-- Perk: Badge -->
			<div class="perk has-divider perk-badge">
				<span class="perk-title">
					Subscriber Badge
					<span class="perk-description">
						Get a global subscriber chat badge that evolves over time.
					</span>
				</span>

				<div class="perk-image" matTooltip="Subscriber (1 Month)" matTooltipPosition="above">
					<img class="badge1" src="/assets/brand/badge-sub-1.webp">
				</div>
			</div>

			<!-- Perk: Animated Avatars -->
			<div class="perk has-divider">
				<span class="perk-title">
					<div>
						<span>Animated Profile Picture</span>
					</div>

					<p class="perk-description">
						Make yourself stand out with a custom animated profile picture on Twitch, YouTube[soon] and 7TV.APP!
						<a *ngIf="subscription !== null" (click)="uploadCustomAvatar()">Upload one now</a>
					</p>
				</span>

				<div class="perk-image">
					<img src="/assets/brand/promo/anim_avatar.webp">
				</div>
			</div>

			<!-- Perk: Zero-Width Emotes -->
			<div class="perk perk-zerowidth has-divider">
				<span class="perk-title">
					Zero-Width Emotes
					<p class="perk-description">
						Activate a new type of emote which can be overlayed to combine and modify other emotes
					</p>
				</span>

				<div class="perk-image">
					<div class="zw-emote-display" [@zwRotation]="zwTransition | async">
						<img [src]="(currentZeroWidth | async)?.emoteUrl">
						<span class="zw-modifier">
							<img [src]="(currentZeroWidth | async)?.modifierUrl">
						</span>
					</div>
				</div>
			</div>

			<!-- Perk: Name Tag -->
			<div class="perk has-divider">
				<span class="perk-title">
					Gold Name Tag Color
					<p class="perk-description">
						On 7TV.APP and other affiliated services
					</p>
				</span>
			</div>

			<div  class="perk has-divider">
				<span class="perk-title">
					Global Emote Raffle Ticket
					<p class="perk-description">
						Participate in a raffle for a chance to pick a new emote to become global until the next cycle.
						More information soon!
					</p>
				</span>
			</div>

			<!-- Perk: Personal Emotes -->
			<div class="perk coming-soon">
				<span class="perk-title">
					<span>
						Personal Emotes
						<span *ngTemplateOutlet="comingSoon"></span>
					</span>

					<p class="perk-description">
						In the future, subscribers will have up to 5 slots to enable emotes that can be used across all channels.
					</p>
				</span>
			</div>
		</div>
	</div>
</div>

<ng-template #comingSoon>
	<span class="perk-is-coming-soon">
		COMING SOON
	</span>
</ng-template>
<ng-template #isNewPerk>
	<span class="perk-is-new">
		NEW!
	</span>
</ng-template>

<ng-template #isLimitedPerk>
	<span class="perk-is-limited">
		LIMITED!
	</span>
</ng-template>
