<div class="container p-2 h-100" [@open]>
	<!-- Heading -->
	<div class="w-100 p-2 mat-elevation-z2 d-inline-flex justify-content-between" [appColor]="themingService.bg.darken(.2)" [isBackground]="true">
		<!-- Emote Name / Back arrow -->
		<div class="d-inline-flex flex-row align-items-center">
			<button mat-icon-button class="ml-2" [routerLink]="['../']" (click)="goBack()">
				<mat-icon>arrow_back</mat-icon>
			</button>
			<div class="emote-title-preview" [ngSwitch]="isProcessing() | async">
				<img [style.height.em]="1" [src]="emote?.getURL() | async" *ngSwitchCase="false" [class.is-blurred]="blurred | async">
				<mat-spinner [diameter]="16" *ngSwitchCase="true"></mat-spinner>
			</div>
			
			<div>
				<span class="ml-2"> {{emote?.getName() | async}} </span>
				<span class="text-muted channel-alias" matTooltip="Channel Alias"> {{(getAliasName() | async)}} </span>
			</div>

			<!-- Rename Button -->
			<button mat-icon-button (click)="rename()" *ngIf="emote?.canEdit(clientService) | async" matTooltip="Rename">
				<mat-icon>edit</mat-icon>
			</button>

			<!-- Override Rules Button -->
			<button mat-icon-button (click)="setOverrides()" matTooltip="Emote Settings" *ngIf="emote?.canEdit(clientService) | async">
				<mat-icon>settings</mat-icon>
			</button>

			<!-- Report Button -->
			<button mat-icon-button matTooltip="Report (Coming soon)" [disabled]="true" color="warn">
				<mat-icon>flag</mat-icon>
			</button>
		</div>

		<div class="emote-state">
			<span [appColor]="themingService.warning" *ngIf="isProcessing() | async">PROCESSING</span>
			<span [appColor]="themingService.warning.lighten(.25)" *ngIf="isPendingOrDisabled() | async">  {{emote?.getStatusName() | async}} </span>

			<span [appColor]="themingService.warning.saturate(.2)" *ngIf="emote?.isPrivate() | async">PRIVATE EMOTE</span>
			<span [appColor]="themingService.accent" *ngIf="emote?.isGlobal() | async">GLOBAL EMOTE</span>
			<span [appColor]="themingService.colors.twitch_purple" *ngIf="emote?.isChannel() | async">ADDED TO CHANNEL</span>
			<span [appColor]="themingService.colors.app_subscriber" *ngIf="emote?.isZeroWidth() | async">ZERO-WIDTH</span>
		</div>

		<!-- Emote Owner -->
		<div class="d-flex align-items-center" *ngIf="emote?.getOwner() | async">
			<span>by</span>
			<app-user-name class="ml-1" [user]="emote?.getOwner() | async" [size]="[1.25, 1]" [contextMenu]="contextMenu.userMenu" (openContext)="contextMenu.contextUser = $event"></app-user-name>
		</div>
	</div>
	
	<!-- Preview sizes -->
	<div class="d-block" [appColor]="themingService.bg.darken(.075)" [isBackground]="true">
		<div class="d-flex flex-row align-items-end justify-content-center sizes-preview mt-1">
			<!-- Size -->
			<div class="size-preview d-flex flex-column justify-content-end align-items-center" [style.height.px]="MAX_HEIGHT" *ngFor="let size of sizes | async">
				<div class="preview-img" [class.is-blurred]="blurred | async" [ngSwitch]="isProcessing() | async">
					<img [src]="size.url" *ngSwitchCase="false">
					<mat-spinner [diameter]="32 * size.scope" *ngSwitchCase="true"></mat-spinner>
				</div>

				<div class="divider">
					<mat-divider></mat-divider>
				</div>

				<span class="scope-label">
					<div class="size-tag mt-2"> {{size.scope}}x </div>
					<div class="size-x"> {{size.width}}x{{size.height}} </div>
				</span>
			</div>
		</div>

		<div class="p-2">
			Created {{ formatCreationDate() | async }}
		</div>
	</div>
	<div class="my-3"></div>

	<!-- Tags -->
	<div class="section-container p-1" [appColor]="themingService.bg.darken(.075)" [isBackground]="true" *ngIf="hasTags() | async">
		<span class="section-title">Tags</span>

		<div class="section-content">
			<app-tag-system [emote]="emote"></app-tag-system>
		</div>
	</div>

	<!-- Interactions -->
	<div class="section-container d-flex flex-column p-2" [appColor]="themingService.bg.darken(.075)" [isBackground]="true" *ngIf="clientService.isAuthenticated() | async">
		<span class="section-title">Manage Emote</span>
		<div class="section-content d-flex flex-row flex-wrap" *ngIf="emote">
			<div class="interact-button my-1" *ngFor="let i of interactions">
				<button mat-button (click)="onInteract(i)" [appColor]="i.color" [isBackground]="true" *ngIf="i.condition === undefined || (i.condition(emote) | async) && !i.disabled" class="mx-1">
					<div class="d-inline-flex align-items-center" [appColor]="i.color?.isLight() ? 'black' : 'white'">
						<mat-icon *ngIf="i.icon"> {{i.icon}} </mat-icon>
						<div class="mx-1"></div>
						<span>{{ i.label | uppercase }}</span>
					</div>
				</button>
			</div>
		</div>
		<mat-error> {{(interactError | async)?.toString()}} </mat-error>
	</div>
	
	<div class="my-2"></div>

	<!-- Channels Section -->
	<div class="section-container" [appColor]="themingService.bg.darken(.075)" [isBackground]="true">
		<span class="section-title">Channels ({{ (emote?.getChannelCount() | async) || 0 }})</span>
		<div class="section-content" [ngSwitch]="((emote?.getChannelCount() | async) || 0) > 0">
			<div class="channel-card-list" *ngSwitchCase="true">
				<app-emote-channel-card [user]="user" *ngFor="let user of channels | async">

				</app-emote-channel-card>
			</div>
			
			<div class="d-inline-block" *ngSwitchCase="false">
				<span>Nothing here</span>
				<mat-icon [svgIcon]="(themingService.getSvgIcon('zulul') | async) || ''"></mat-icon>
			</div>

			<div class="paginator">
				<button mat-flat-button (click)="queryChannels(channelPage - 1)" [class.invisible]="channelPage <= 1">
					<mat-icon>arrow_backward</mat-icon>
				</button>

				<span> Page {{channelPage}}/{{getTotalChannelPages() | async}} </span>

				<button mat-flat-button (click)="queryChannels(channelPage + 1)" [class.invisible]="channelPage >= ((getTotalChannelPages() | async) || 0)">
					<mat-icon>arrow_forward</mat-icon>
				</button>
			</div>
		</div>
	</div>

	<!-- Audit Logs -->
	<div class="my-2"></div>
	<div class="section-container" [appColor]="themingService.bg.darken(.075)" [isBackground]="true">
		<div class="section-title">Recent Activity</div>
		<div class="section-content">
			<!-- Display entries -->
			<div class="audit-entry my-1" *ngFor="let entry of audit | async">
				<app-audit-log-entry [entry]="entry"></app-audit-log-entry>
			</div>
		</div>
	</div>
</div>

<app-ctx-menu #contextMenu></app-ctx-menu>
