<div class="container p-2 h-100">
	<!-- Heading -->
	<div class="w-100 p-2 mat-elevation-z2 d-inline-flex justify-content-between" [appColor]="themingService.bg.darken(.2)" [isBackground]="true">
		<!-- Emote Name / Back arrow -->
		<div class="d-inline-block">
			<button mat-icon-button class="ml-2" [routerLink]="['../']">
				<mat-icon>arrow_back</mat-icon>
			</button>
			<img [style.height.em]="1" [src]="emote?.getURL() | async">

			<span class="ml-2"> {{emote?.getName() | async}} </span>
			<button mat-icon-button (click)="rename()" *ngIf="canEdit() | async">
				<mat-icon>edit</mat-icon>
			</button>
		</div>

		<!-- Emote Owner -->
		<div class="d-flex align-items-center">
			<span>Added by</span>
			<span class="ml-1"> {{emote?.getOwnerName() | async}} </span>
		</div>
	</div>
	
	<!-- Preview sizes -->
	<div class="d-flex flex-row align-items-center justify-content-center sizes-preview mt-1" [appColor]="themingService.bg.darken(.075)" [isBackground]="true" *ngIf="emote?.getName() | async">
		<!-- Size -->
		<div class="size-preview d-flex flex-column justify-content-end align-items-center" [style.height.px]="MAX_HEIGHT" *ngFor="let size of getSizes() | async">
			<img [src]="size.url">

			<span class="mt-2"> {{size.scope}}x </span>
		</div>
	</div>
	<div class="my-2"></div>

	<!-- Tags -->
	<app-tag-system [emote]="emote"></app-tag-system>

	<!-- Interactions -->
	<div class="d-flex flex-column p-2" [appColor]="themingService.bg.darken(.075)" [isBackground]="true">
		<h3>Manage Emote</h3>
		<div class="d-flex flex-row flex-wrap" *ngIf="emote">
			<div class="interact-button my-1" *ngFor="let i of interactions">
				<button mat-button (click)="onInteract(i)" [appColor]="i.color" [isBackground]="true" *ngIf="i.condition === undefined || (i.condition | async) && !i.disabled" class="mx-1">
					<div class="d-inline-flex align-items-center" [appColor]="i.color?.isLight() ? 'black' : 'white'">
						<mat-icon *ngIf="i.icon"> {{i.icon}} </mat-icon>
						<div class="mx-1"></div>
						<span>{{ i.label | uppercase }}</span>
					</div>
				</button>
			</div>
		</div>
	</div>
</div>