<div matRipple class="emote-channel-card mat-elevation-z1" *ngIf="!!user" [appColor]="themingService.bg.lighten(.2)" [isBackground]="true">

	<!-- Content -->
	<a class="card-content unstyled-link" [routerLink]="['/users', user.getID() | async]" [appColor]="themingService.bg.lighten(.35)" [isBackground]="true" [onHoverOnly]="true">

		<!-- Username -->
		<div class="username-container">
			<app-user-name [user]="user" [clickable]="false" [size]="[0, 1.15]" [showAvatar]="false"></app-user-name>
		</div>

		<div class="avatar-container">
			<app-user-name [user]="user" [showUsername]="false" [size]="[4, 0]" [avatarBorder]="false"></app-user-name>
		</div>
	</a>
</div>
