.emote-state {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.sizes-preview {
	min-height: 16em;

	.size-preview {
		margin: 1em;

		.preview-img {
			width: 100%;
			img { width: 100%; }
		}

		.divider {
			margin-top: .5em;
			width: 100%;
		}
	}

	.scope-label {
		text-align: center;

		.size-tag {
			font-family: 'Work Sans', sans-serif;
		}
		.size-x { font-size: .65rem; }
	}
}

.is-blurred {
	filter: blur(24px);
}

.section-container {
	padding: 1em;

	.section-title {
		margin-left: .5em;
		font-size: 1.2em;
	}

	.section-content {
		margin-top: .64em;
		margin-left: .64em;

		.channel-card-list {
			display: flex;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
		}

		.paginator {
			display: flex;
			padding-right: 3.5em;
			padding-left: 3.5em;
			align-items: center;
			justify-content: space-between;
		}
	}
}

.visibility-tag {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .44em;
}

.channel-alias {
	cursor: default;
}