.emote-state {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.sizes-preview {
	min-height: 16em;

	.size-preview {
		margin: 1em;

		.preview-img {
			width: 100%;
			img { width: 100%; }
		}
		span { text-align: center; }
	}
}

.section-container {
	padding: 1em;

	.section-title {
		margin-left: .5em;
		font-size: 1.2em;
	}

	.section-content {
		margin-top: .64em;
		margin-left: .64em;
	}
}