.user-heading {
	padding: .5em;
	
	.live-indicators {
		display: flex;
		justify-content: space-evenly;
		flex-direction: row;
		align-items: center;
		width: 100%;
	
		.inline-indicator {
			display: flex;
			align-items: center;
		}
	}
}

.heading {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 12em;
	width: fit-content;
	height: 32px;
	padding: 1em;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

	font-size: 1.2em;
}

.channel-emote-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2em;
	border-radius: 8px;
	border-top-left-radius: 0;
	flex-grow: 1;

	.is-emote-card {
		margin: 1em;
	}
}

.user-home {
	display: block;
}

.show-more-card {
	margin: 1em;
	height: 8em;
	width: 8em;
	cursor: pointer;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	
	:first-child {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}