<div class="user-home">
	<!-- Heading -->
	<div class="user-heading mat-elevation-z2" [appColor]="themingService.bg.darken(.1)" [isBackground]="true">
		<div class="live-indicators">
			<div class="view-count inline-indicator" *ngIf="isLive | async">
				<mat-icon class="mr-1" color="warn">person_outline</mat-icon>
				<span class="text-danger"> {{(broadcast | async)?.viewer_count}} viewers </span>
			</div>

			<div class="is-live inline-indicator" *ngIf="isLive | async">
				<mat-icon class="mr-1" color="warn">circle</mat-icon>
				<span class="text-danger"> LIVE </span>
			</div>

			<div class="follow-count inline-indicator">
				<mat-icon class="mr-1">groups</mat-icon>
				<span>{{(user | async)?.getFollowerCount() | async}} followers</span>
			</div>
		</div>
	</div>

	<!-- User's Channel Emotes -->
	<div class="heading" [appColor]="themingService.primary.darken(.075)" [isBackground]="true">
		Emotes Enabled ({{(channelCount | async) || 0}}/{{ emoteSlots | async }})
	</div>
	<div class="channel-emote-list" [appColor]="themingService.bg.lighten(.1)" [isBackground]="true">
		<a [routerLink]="['/emotes', emote.id]"
			(auxclick)="$event.preventDefault()"
			class="is-emote-card unstyled-link"
			*ngFor="let emote of channelEmotes; trackBy: trackBy;"
		>
			<app-emote-card [size]="8" [emote]="emote" [contextMenu]="contextMenu.emoteMenu" (openContext)="contextMenu.contextEmote = $event"></app-emote-card>
		</a>
	</div>

	<mat-divider class="my-3"></mat-divider>

	<!-- User's Uploaded Emotes -->
	<div class="heading" [appColor]="themingService.primary.darken(.075)" [isBackground]="true">
		Emotes by {{(user | async)?.getUsername() | async}} ({{(ownedCount | async) || 0}})
	</div>
	<div class="channel-emote-list" (auxclick)="$event.preventDefault()" [appColor]="themingService.bg.lighten(.1)" [isBackground]="true">
		<a [routerLink]="['/emotes', emote.id]"
			(auxclick)="$event.preventDefault()"
			class="is-emote-card unstyled-link"
			*ngFor="let emote of ownedEmotes; trackBy: trackBy;"
		>
			<app-emote-card [size]="8" [emote]="emote" [contextMenu]="contextMenu.emoteMenu" (openContext)="contextMenu.contextEmote = $event"></app-emote-card>
		</a>
	</div>

	<mat-divider class="my-3"></mat-divider>

	<div class="heading" [appColor]="themingService.bg.lighten(.3)" [isBackground]="true">
		Recent Activity
	</div>
	<div>
		<div class="my-1" *ngFor="let entry of auditEntries">
			<app-audit-log-entry [entry]="entry"></app-audit-log-entry>
		</div>
	</div>
</div>

<ng-template #showMore let-setName="setName">
    <div class="show-more-card"
		matRipple
		[matRippleColor]="themingService.accent.opaquer(-.33).rgb().string()"
		[appColor]="themingService.bg.darken(.2)"
		[isBackground]="true"
		(click)="showMoreOf(setName)"
	>
		<div><span>Show More</span></div>
	</div>
</ng-template>

<app-ctx-menu #contextMenu></app-ctx-menu>
