<div class="emotes">
    <!-- Heading -->
    <div class="heading mat-elevation-z3" [appColor]="themingService.bg.darken(.2)" [isBackground]="true">
		<span>
        	<mat-icon [svgIcon]="(themingService.getSvgIcon('zulul') | async) || ''"></mat-icon>
        	<span class="ml-1">Emotes</span>
		</span>

		<a href="/emotes/create" (click)="$event.preventDefault()" class="d-flex justify-content-end" [matTooltip]="(clientService.hasPermission('CREATE_EMOTE') | async) ? '' : 'You must be signed in to do that'">
			<button mat-raised-button
				[disabled]="(clientService.hasPermission('CREATE_EMOTE') | async) !== true"
				
				[routerLink]="['/emotes', 'create']"
				color="primary"
			>
				<mat-icon>add</mat-icon>
				ADD EMOTE
			</button>
		</a>
    </div>

	<div class="content flex-fill">
		<router-outlet></router-outlet>
	</div>
</div>