<div class="emotes h-100 container">
	<div class="row emotes-heading">
		<!-- Title -->
		<div class="col-6"></div>

		<!-- Buttons -->
		<div class="col-6">
			<div class="d-flex justify-content-end" *ngIf="clientService.hasPermission('CREATE_EMOTE') | async">
				<button mat-raised-button [disabled]="!(clientService.isAuthenticated() | async)" [routerLink]="['/emotes', 'create']">
					<mat-icon>add</mat-icon>
					ADD EMOTE
				</button>
			</div>
		</div>
	</div>

	<router-outlet></router-outlet>
</div>