.emotes {
    display: flex;
    flex-direction: column;
	height: 100%;

    .heading {
        z-index: 1;
        padding: 1em;
        display: flex;
        align-items: center;
		justify-content: space-between;

        .button-list {
            display: flex;
            flex-direction: row;
        }
    }

	.content {
        display: block;
        padding: .75em;
	}
}

.emotes-heading {
	margin-bottom: 1em;
}

.emotes-sidebar {
	min-width: 220px;
}
