@use '~@angular/material' as mat;
@import './default.scss';
@include mat.core();

.theme-dark {
	$dark-primary: mat.define-palette(mat.$light-blue-palette, 800);
	$dark-accent: mat.define-palette(mat.$light-green-palette, A200, A100, A400);
	$dark-warn: mat.define-palette(mat.$red-palette);
	$dark-theme: mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);

	@include mat.all-component-themes($dark-theme);

	@at-root main.theme-dark {
		@include global-theming($dark-theme);
	}
}
