
<div class="emote-search">
	<!-- Heading -->
	<div class="_heading mat-elevation-z3 w-100" [appColor]="themingService.bg.darken(.2)" [isBackground]="true">
		Search Emotes
	</div>

	<!-- Content -->
	<form [formGroup]="form" class="_filters mat-elevation-z1 w-100" [appColor]="themingService.bg.darken(.12)" [isBackground]="true">
		<!-- Search by Name -->
		<div class="_search-by-name">
			<mat-form-field appearance="outline">
				<mat-label> Search {{(selectedSearchMode | async)?.label}} </mat-label>
				<input id="searchbox" type="text" matInput formControlName="query" [(ngModel)]="nameSearchBox" (keyup.enter)="handleEnterPress($event)">
			</mat-form-field>
			<button for="searchbox" type="submit" class="d-none"></button>
			<div class="mx-1"></div>

			<button mat-icon-button [matTooltip]="'Change Search Mode'" [matMenuTriggerFor]="modeMenu">
				<mat-icon>filter_list</mat-icon>
			</button>
		</div>

		<!-- Checkbox for whether or not global emotes should be visible -->
		<mat-radio-group class="d-flex flex-column" formControlName="globalState">
			<mat-label>Global Emotes</mat-label>
			<div class="my-1"></div>

			<mat-radio-button *ngFor="let opt of globalStateButtons" [value]="opt.value">
				{{ opt.label }}
			</mat-radio-button>
		</mat-radio-group>

		<mat-divider class="px-3 my-2"></mat-divider>

		<!-- Show only added to channel -->
		<mat-checkbox class="pt-2" formControlName="channel">
			<mat-label>Channel Emotes Only</mat-label>
		</mat-checkbox>
		<!-- Zero-Width Filter -->
		<mat-checkbox class="pt-2 d-flex flex-row align-items-center" formControlName="zerowidth" [disabled]="current.globalState === 'only'">
			<mat-label>Zero-Width Only</mat-label>
			<mat-icon class="ml-1" [inline]="true" matTooltip="Zero-Width emotes overlay on top of the previous emote, enabling some unique combos">help</mat-icon>
		</mat-checkbox>

		<mat-divider class="px-3 my-2"></mat-divider>
		<!-- Sorting -->
		<div class="search-sorting">
			<mat-radio-group class="d-flex flex-column" formControlName="sortBy">
				<mat-label class="d-flex flex-row align-items-center">
					Sorting
					
					<div class="mx-1"></div>
					<mat-icon class="sort-direction" [inline]="true" [matTooltip]="getSortDirectionLabel() + ' Order'" (click)="toggleSortDirection()">
						{{sortOrder >= 1 ? 'arrow_upward' : 'arrow_downward'}}
					</mat-icon>
				</mat-label>
				<div class="my-1"></div>

				<mat-radio-button *ngFor="let opt of sortOptions" [value]="opt.value"> {{ opt.label }} </mat-radio-button>
			</mat-radio-group>
		</div>

	</form>
</div>

<mat-menu #modeMenu="matMenu">
	<ng-template matMenuContent>
		<button mat-menu-item *ngFor="let opt of modeMenuOptions" (click)="changeSearchMode(opt)">
			{{ opt.label }}
		</button>
	</ng-template>
</mat-menu>