<div class="h-100 d-flex flex-row">
	<!-- Sidebar -->
	<div class="admin-sidebar px-3 d-flex flex-column" [appColor]="themingService.bg.darken(.2)" [isBorder]="true">
		<!-- Nav Cards -->
		<div class="sidebar-content d-flex flex-column">
			<div class="sidebar-item" matRipple *ngFor="let card of sidebarTabs" (click)="switchTab(card)" [class.active]="card.active">
				<mat-icon> {{card.icon}} </mat-icon>
				<div class="mx-1"></div>
				<span class="d-none d-md-block">{{ card.title }}</span>
			</div>
		</div>
	</div>

	<!-- Content -->
	<div class="admin-content h-100 w-100">
		<div class="admin-content-heading mat-elevation-z3" [appColor]="themingService.bg.darken(.2)" [isBackground]="true">
			<span> {{(selectedTab | async)?.title}} </span>
		</div>

		<router-outlet></router-outlet>
	</div>
</div>