.admin-sidebar {
	display: flex;
	border-right: solid 4px;

	span {
		font-size: 16px;
	}

	.sidebar-item {
		display: flex;
		align-items: center;
		cursor: pointer;
		padding-top: 1em;
		padding-bottom: 1em;

		&.active {
			border-left-color: currentColor;
			border-left-width: 3px;
			border-left-style: solid;
		}
	}
}

.admin-content {
	.admin-content-heading {
		display: flex;
		align-items: center;
		height: 4em;
		padding-left: 1em;
		padding-right: 1em;
	}
}