<div class="emote-card mat-elevation-z2" matRipple [@hovering]="{ value: hover | async, params: { borderColor: this.currentBorderColor | async}  }"
	[style.height.em]="size"
	[style.width.em]="size"
	[appColor]="themingService.bg.darken(.1)" [isBackground]="true"
	[class.down-border]="(emote?.isGlobal() | async) || (emote?.isChannel() | async)"
	[class.hovering]="hover | async"
	[class.ladink]="(emote?.getName() | async) === (undefined)">

	<!-- Emote Name Banner -->
	<div class="title-banner" [appColor]="themingService.bg.alpha(.4).lighten(.7)" [isBackground]="true">
		<span class="text-truncate px-2" [matTooltip]="(getTooltip() | async ) || ''" matTooltipPosition="above"> {{emote?.getName() | async}} </span>
	</div>
	<!-- Submitter sub-banner -->
	<div class="title-banner submitter" [appColor]="themingService.bg.alpha(.4).lighten(.7)" [isBackground]="true">
		<app-user-name [clickable]="false" [user]="emote?.getOwner() | async" [showAvatar]="false" [size]="[0, .67]"></app-user-name>
	</div>

	<!-- Card Image wrapper (below title) -->
	<div class="img-wrapper" [class.blur]="blurChange | async" [ngSwitch]="isProcessing() | async">
		<img *ngSwitchCase="false" [class.d-none]="!(emote?.getID())" [src]="getEmoteURL()">
		<div class="is-processing" *ngSwitchCase="true">
			<mat-spinner [diameter]="32"></mat-spinner>
			<span>PROCESSING</span>
		</div>
	</div>

	<!-- Display l ock icon if private -->
	<div class="is-private" *ngIf="emote?.isPrivate() | async" matTooltip="Private Emote">
		<mat-icon color="warn">lock</mat-icon>
	</div>

	<!-- Display l ock icon if private -->
	<div class="is-unlisted" *ngIf="emote?.isUnlisted() | async" matTooltip="Unlisted Emote">
		<mat-icon color="warn">visibility_off</mat-icon>
	</div>
</div>

<!-- Global / Channel Emote / Zero Width Indicator -->
<div class="state-indicator" *ngIf="(emote?.isGlobal() | async) || (emote?.isChannel() | async)" [matTooltip]="'Global Emote'">
	<div [appColor]="themingService.bg.darken(.1)" [isBackground]="true">
		<mat-icon [appColor]="globalBorderColor">star</mat-icon>
	</div>
</div>

<div class="state-indicator" *ngIf="(emote?.isZeroWidth() | async)" [matTooltip]="'Zero-Width Emote'">
	<div class="zerowidth-indicator" [appColor]="themingService.bg.darken(.1)" [isBackground]="true">
		<mat-icon [appColor]="themingService.colors.app_subscriber">chevron_left</mat-icon>
		<mat-icon [appColor]="themingService.colors.app_subscriber">chevron_right</mat-icon>
	</div>
</div>

<div class="state-indicator" *ngIf="(emote?.isChannel() | async) && (emote?.isGlobal() | async) === false" [matTooltip]="'Channel Emote'">
	<div [appColor]="themingService.bg.darken(.1)" [isBackground]="true">
		<mat-icon [appColor]="channelBorderColor">check_circle</mat-icon>
	</div>
</div>
<div *ngIf="contextMenu" [matMenuTriggerFor]="contextMenu" #contextMenuTrigger></div>