[mat-dialog-content] {
	min-width: 400px;
	max-height: 800px;
	width: 50vw;
	height: 33vh;

	:first-child {
		.title {
			p {
				color: rgb(184, 184, 184);
			}
		}

		.platform-icons {
			margin-top: 3em;
			display: flex;
			align-items: center;
			justify-content: center;

			.platform-icon {
				cursor: pointer;
				color: white;
				margin-top: 3em;
				margin-right: 4em;
				margin-left: 4em;
				height: 100%;
			}
		}
	}

	.menu-trigger {
		position: relative;
		.trigger {
			position: absolute;
			width: 6em;
			height: 6em;
			top: -2em;
			left: -2em;
		}
		z-index: 5;
	}
}
