<div mat-dialog-content>
	<div>
		<div class="title">
			<h3>DOWNLOAD CHATTERINO7</h3>
			<p class="notice">
				This is an unofficial fork of Chatterino independently maintained by the 7TV Dev Team. It adds a new provider to serve 7TV emotes, and otherwise stays in line with the upstream.
				<a href="https://github.com/SevenTV/chatterino7/" target="_blank">View on GitHub.</a>
			</p>
		</div>

		<div class="platform-icons">
			<div class="platform-icon" [matTooltip]="'Download for ' + p.label"
				(click)="download(p.url)"
				*ngFor="let p of platforms">

				<div class="menu-trigger" *ngIf="p.menu" [matMenuTriggerFor]="p.menu">
					<div class="trigger"></div>
				</div>

				<div [ngSwitch]="p.svgIcon">
					<mat-icon *ngSwitchCase="true" [style.transform]="'scale(4)'" [svgIcon]="p.icon"></mat-icon>
					<mat-icon *ngSwitchDefault [style.transform]="'scale(4)'"> {{p.icon}} </mat-icon>
				</div>
			</div>
		</div>
	</div>
</div>

<mat-menu #installTypeMenu>
	<button mat-menu-item (click)="download('https://github.com/SevenTV/chatterino7/releases/download/7.3.3/Chatterino.Installer.exe')">
		INSTALLER
	</button>
	<button mat-menu-item (click)="download('https://github.com/SevenTV/chatterino7/releases/download/7.3.3/Chatterino.Portable.zip')">
		PORTABLE / STANDALONE EXE
	</button>
</mat-menu>