<div mat-dialog-content>
	<div>
		<div class="title">
			<h3>DOWNLOAD CHATTERINO7</h3>
			<p class="notice">
				This is an unofficial fork of Chatterino independently maintained by the 7TV Dev Team. It adds a new provider to serve 7TV emotes, and otherwise stays in line with the upstream.
				<a href="https://github.com/SevenTV/chatterino7/" target="_blank">View on GitHub.</a>
			</p>
		</div>

		<div class="platform-icons">
			<a class="platform-icon unstyled-link" [matTooltip]="'Download for ' + p.label"
				(click)="download($event, p.url)"
				(auxclick)="download($event, p.url)"
				[href]="p.url ? p.url : ''"
				*ngFor="let p of platforms">

				<div class="menu-trigger" *ngIf="p.menu" [matMenuTriggerFor]="p.menu">
					<div class="trigger"></div>
				</div>

				<div [ngSwitch]="p.svgIcon">
					<mat-icon *ngSwitchCase="true" [style.transform]="'scale(4)'" [svgIcon]="p.icon"></mat-icon>
					<mat-icon *ngSwitchDefault [style.transform]="'scale(4)'"> {{p.icon}} </mat-icon>
				</div>
			</a>
		</div>
	</div>
</div>

<mat-menu #installTypeMenu>
	<a mat-menu-item
		class="unstyled-link"
		[href]="dl.url"
		(click)="download($event, dl.url)"
		(auxclick)="download($event, dl.url)"
		*ngFor="let dl of windowsDownloads">
		{{dl.label}}
	</a>
</mat-menu>