[mat-dialog-content] {
	min-width: 400px;
	max-height: 800px;
	width: 50vw;
	height: 33vh;

	:first-child {
		.title {
			p {
				color: rgb(184, 184, 184);
			}
		}

		.platform-icons {
			margin-top: 3em;
			display: flex;
			align-items: center;
			justify-content: center;

			.platform-icon {
				cursor: pointer;
				color: white;
			}
		}
	}
}
