<div class="pt-3 pl-2">
	<p>{{total | async}} users</p>
	<div class="search-box">
		<mat-form-field appearance="outline">
			<input matInput [formControl]="searchInput" (keyup.enter)="onSearchInput()">
			<mat-label>Search Users</mat-label>
		</mat-form-field>
	</div>
</div>

<div class="admin-users">
	<div *ngFor="let user of users | async; let last = last;" class="user-column">
		<app-user-name [user]="user" [contextMenu]="contextMenu.userMenu" (openContext)="selectedUser.next($event)"></app-user-name>

		<div *ngIf="!last" class="user-column-divider">
			<mat-divider></mat-divider>
		</div>
	</div>
</div>

<app-ctx-menu #contextMenu [contextUser]="selectedUser | async"></app-ctx-menu>
