.action-bar {
	border-radius: 4px;
}

.emote-form {
	min-height: 50vh;

	.emote-details.locked {
		border: 1px solid;
	}
}

.emote-upload-box {
	label { cursor: pointer;}
	label input { display: none; }

	display: flex;

	img {
		width: 128px;
		max-height: 128px;
		border-radius: 25% !important;
		border-style: dashed;
		border-width: 3px;
	}

	._upload-error {
		display: flex;
		width: 128px;
		word-wrap: break-word;
		color: rgb(255, 70, 70);
		margin: 5px;
	}

	.add-emote-cta {
		position: absolute;

		mat-icon {
			position: relative;
			bottom: 150;
			transform: scale(2);
		}
	}
}

.drag-over {
	border-color: currentColor;
	border-width: 4px;
	border-style: dashed;
}

.upload-area {
	border-radius: 4px;
}

.emote-details {
	display: flex;
	flex-direction: column;
}