<div class="audit-log-entry">
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title class="d-flex align-items-center" *ngIf="clientService.isAuthenticated() | async">
				<app-user-name [user]="entry?.getActionUser()"></app-user-name>
				<div class="mx-1"></div>
				<span> {{entry?.getDescription()}} </span>
			</mat-panel-title>

			<mat-panel-description>
				{{entry?.getTimestamp() | async}}
			</mat-panel-description>
		</mat-expansion-panel-header>

		<div class="audit-changes">
			<h4>Changes</h4>
			
			
		</div>
	</mat-expansion-panel>
</div>
