<mat-toolbar class="d-flex flex-row justify-content-between" [appColor]="themingService.bg.darken(.4)" [isBackground]="true">
	<!-- App Title -->
	<div class="d-flex align-items-center" [routerLink]="['/']">		
		<div class="no-select app-title" [class.is-loading]="appService.loading">
			<!-- Logo -->
			<div class="_logo">
				<object data="assets/brand/7tv-light.svg" height="32" type="image/svg+xml"></object>
			</div>
		 	

			<span class="_text">{{appService.title}}</span>

			<!-- Environment Indicator -->
			<span *ngIf="!isEnvironmentProd" class="_dev-stage-text env-offset" [appColor]="themingService.colors.primary._env[envName]">
				{{envName | uppercase}}.
			</span>
			<!-- Dev Stage Indicator -->
			<span class="text-nowrap _dev-stage-text" [class.d-none]="!appService.devStage">{{appService.devStage}}</span>
		</div>
	</div>

	<!-- Navigation Buttons -->
	<div class="nav-button-list justify-content-center flex-grow-1 d-none d-md-flex">
		<div matRipple
			*ngFor="let btn of navButtons">
			<div class="d-flex flex-grow-1 align-items-center nav-button"
				[routerLinkActive]="['selected']"
				[routerLinkActiveOptions]="{ exact: true }"
				[routerLink]="btn.path" *ngIf="!btn.condition || (btn.condition | async)"
				(auxclick)="$event.button === 1 ? openInNewTab(btn) : null"
			>

				<!-- Icon -->
				<div [ngSwitch]="btn.svg" class="_icon" [appColor]="btn.color">
					<mat-icon class=" d-flex align-self-center" *ngSwitchDefault [matTooltip]="viewportService.isSmallerThan('sm') ? btn.name : ''">
						{{btn.icon}}
					</mat-icon>

					<mat-icon *ngSwitchCase="true" [svgIcon]="(themingService.getSvgIcon(btn.icon) | async) || ''" [matTooltip]="viewportService.isSmallerThan('sm') ? btn.name : ''"></mat-icon>
				</div>
				<div class="mx-1"></div>

				<!-- Name -->
				<span class="_name d-none d-md-block" [appColor]="btn.color">
					{{btn.name | uppercase}}
				</span>

				<!-- Select Indicator -->
				<div class="_select_indicator" routerLinkActive="selected">
					<div class="_line"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="align-items-center flex-grow-0 d-none d-md-inline-flex h-100">
		<div class="d-flex mr-2" *ngIf="clientService.isAnEditor() | async" [ngSwitch]="clientService.isImpersonating">
			<button mat-icon-button matTooltip="Swap Editor Channel" (click)="impersonate()" *ngSwitchCase="false">
				<mat-icon>swap_vert</mat-icon>
			</button>

			<button mat-icon-button matTooltip="Quit Impersonating" *ngSwitchCase="true" (click)="stopImpersonate()">
				<mat-icon>logout</mat-icon>
			</button>
		</div>

		<div class="h-100" [ngSwitch]="clientService.isAuthenticated() | async">
			<!-- Login Button -->
			<span class="h-100 login-button" *ngSwitchCase="false">
				<app-twitch-button *ngSwitchCase="false"></app-twitch-button>
			</span>

			<!-- User / As Editor -->
			<span class="h-100" *ngSwitchCase="true"  [ngSwitch]="clientService.isImpersonating">
				<span class="user-as-editor" *ngSwitchCase="true">
					<app-user-name [user]="clientService" [size]="[1.65, .585]" [showUsername]="viewportService.isLargerThan('md') | async"></app-user-name>	

					<span class="edited-user">
						<mat-icon>
							keyboard_return
						</mat-icon>
						<app-user-name [user]="clientService.impersonating | async" [showAvatar]="true" [size]="[1, .48]"></app-user-name>
					</span>
				</span>

				<span class="h-100 user-as-self">
					<app-user-name [clickable]="false" [matMenuTriggerFor]="personalMenu" [user]="clientService" [size]="[2, .75]" *ngSwitchCase="false" [showUsername]="viewportService.isLargerThan('md') | async"></app-user-name>	
				</span>
			</span>
		</div>
	</div>

	<!-- Hamburger -->
	<div class="nav-hamburger d-block d-md-none">
		<button mat-icon-button [matMenuTriggerFor]="mobileMenu">
			<mat-icon>menu</mat-icon>
		</button>
		
	</div>
</mat-toolbar>

<mat-menu #mobileMenu="matMenu" class="d-flex flex-column">
	<app-user-name></app-user-name>	
	<mat-divider></mat-divider>

	<div *ngIf="!(clientService.isAuthenticated() | async)">
		<app-twitch-button></app-twitch-button>
	</div>
	<button mat-menu-item [routerLink]="btn.path" *ngFor="let btn of navButtons" class="d-flex" [style.color]="btn.color">
		<div [ngSwitch]="btn.svg">
			<mat-icon [style.color]="btn.color" *ngSwitchCase="true" [svgIcon]="(themingService.getSvgIcon(btn.icon) | async) || ''"></mat-icon>
			<mat-icon [style.color]="btn.color" *ngSwitchDefault> {{ btn.icon }} </mat-icon>
		</div>
		<span>{{ btn.name | uppercase}}</span>
	</button>
</mat-menu>

<mat-menu #personalMenu="matMenu">
	<button mat-menu-item [routerLink]="['/users', clientService.id]">VIEW PROFILE</button>
	<button mat-menu-item (click)="clientService.logout()">
		LOG OUT
	</button>
</mat-menu>