<mat-toolbar [style.z-index]="100" class="d-flex flex-row justify-content-between is-toolbar" [appColor]="themingService.bg.darken(.4)" [isBackground]="true">
	<!-- App Title -->
	<a href class="d-flex align-items-center unstyled-link" [routerLink]="['/']">		
		<div class="no-select app-title" [class.is-loading]="appService.loading">
			<!-- Logo -->
			<div class="_logo">
				<object data="assets/brand/7tv-light.svg" height="32" type="image/svg+xml"></object>
			</div>
		 	
			<div class="d-none d-sm-flex">
				<span class="_text">{{appService.title}}</span>

				<!-- Environment Indicator -->
				<span *ngIf="!isEnvironmentProd" class="_dev-stage-text env-offset" [appColor]="themingService.colors.primary._env[envName]">
					{{envName | uppercase}}.
				</span>
				<!-- Dev Stage Indicator -->
				<span class="text-nowrap _dev-stage-text" [class.d-none]="!appService.devStage">{{appService.devStage}}</span>
			</div>
		</div>
	</a>

	<!-- Navigation Buttons -->
	<div class="nav-button-list justify-content-center flex-grow-1 d-none d-md-flex">
		<div matRipple [matRippleDisabled]="(btn.condition | async) !== true" *ngFor="let btn of navButtons">
			<a class="d-flex flex-grow-1 align-items-center nav-button unstyled-link"
				[routerLinkActive]="['selected']"
				[routerLinkActiveOptions]="{ exact: true }"
				[routerLink]="btn.path"
				[class.disabled]="btn.conditionOnlyDisables && (btn.condition | async) !== true"
				*ngIf="btn.conditionOnlyDisables || (!btn.condition || (btn.condition | async))"
			>

				<!-- Icon -->
				<div [ngSwitch]="btn.svg" class="_icon" [appColor]="btn.color">
					<mat-icon class=" d-flex align-self-center" *ngSwitchDefault [matTooltip]="viewportService.isSmallerThan('sm') ? btn.name : ''">
						{{btn.icon}}
					</mat-icon>

					<mat-icon *ngSwitchCase="true" [svgIcon]="(themingService.getSvgIcon(btn.icon) | async) || ''" [matTooltip]="viewportService.isSmallerThan('sm') ? btn.name : ''"></mat-icon>
				</div>
				<div class="mx-1"></div>

				<!-- Name -->
				<span class="_name d-none d-lg-block" [appColor]="btn.color">
					{{btn.name | uppercase}}
				</span>

				<!-- Select Indicator -->
				<div class="_select_indicator" routerLinkActive="selected">
					<div [appColor]="btn.color" [isBackground]="true" class="_line"></div>
				</div>
			</a>
		</div>
	</div>

	<!-- Small Buttons -->
	<div class="align-items-center flex-grow-0 d-inline-flex h-100">
		<!-- Changelogs -->
		<div class="d-flex mr-2">
			<button mat-icon-button color="accent" matTooltip="View Changelog" (click)="openChangelog()">
				<mat-icon>announcement</mat-icon>
			</button>
		</div>

		<div class="d-flex mr-2" *ngIf="clientService.isAuthenticated() | async">
			<app-notify-button (click)="openNotifyMenu()" matTooltip="Notifications"></app-notify-button>
		</div>

		<div class="d-flex mr-2" *ngIf="clientService.isAnEditor() | async" [ngSwitch]="clientService.isImpersonating">
			<button mat-icon-button matTooltip="Swap Editor Channel" (click)="impersonate()" *ngSwitchCase="false">
				<mat-icon>swap_vert</mat-icon>
			</button>

			<button mat-icon-button matTooltip="Quit Impersonating" *ngSwitchCase="true" (click)="stopImpersonate()">
				<mat-icon>logout</mat-icon>
			</button>
		</div>

		<div class="h-100 d-none d-md-block" [ngSwitch]="clientService.isAuthenticated() | async">
			<!-- Login Button -->
			<span class="h-100 login-button" *ngSwitchCase="false">
				<app-twitch-button *ngSwitchCase="false"></app-twitch-button>
			</span>

			<!-- User / As Editor -->
			<span class="h-100" *ngSwitchCase="true"  [ngSwitch]="clientService.isImpersonating">
				<span class="user-as-editor" *ngSwitchCase="true">
					<app-user-name [user]="clientService" [size]="[1.65, .585]" [showUsername]="viewportService.isLargerThan('md') | async"></app-user-name>	

					<span class="edited-user">
						<mat-icon>
							keyboard_return
						</mat-icon>
						<app-user-name [user]="clientService.impersonating | async" [showAvatar]="true" [size]="[1, .48]"></app-user-name>
					</span>
				</span>

				<span class="h-100 user-as-self">
					<app-user-name [clickable]="false" [matMenuTriggerFor]="personalMenu" [user]="clientService" [size]="[2, .75]" *ngSwitchCase="false" [showUsername]="viewportService.isLargerThan('md') | async"></app-user-name>	
				</span>
			</span>
		</div>
	</div>

	<!-- Hamburger -->
	<div class="nav-hamburger d-block d-md-none">
		<button mat-icon-button [matMenuTriggerFor]="mobileMenu">
			<mat-icon>menu</mat-icon>
		</button>
		
	</div>
</mat-toolbar>
<mat-toolbar color="warn" class="announcement-bar" *ngIf="appService.announcement | async">
	<mat-icon>
		announcement
	</mat-icon>
	<div class="mx-2"></div>
	<span>{{appService.announcement | async}}</span>
</mat-toolbar>

<mat-menu #mobileMenu="matMenu" class="d-flex px-1 flex-column">
	<app-user-name *ngIf="clientService.isAuthenticated() | async" [user]="clientService" [matMenuTriggerFor]="personalMenu"></app-user-name>	
	<mat-divider class="my-2"></mat-divider>

	<div *ngIf="(clientService.isAuthenticated() | async) === false"> 
		<app-twitch-button></app-twitch-button>
	</div>

	<div *ngFor="let btn of navButtons">
		<button mat-menu-item class="d-flex" [style.color]="btn.color" *ngIf="!btn.condition || (btn.condition | async)" [routerLink]="btn.path">
			<div [ngSwitch]="btn.svg">
				<mat-icon [style.color]="btn.color" *ngSwitchCase="true" [svgIcon]="(themingService.getSvgIcon(btn.icon) | async) || ''"></mat-icon>
				<mat-icon [style.color]="btn.color" *ngSwitchDefault> {{ btn.icon }} </mat-icon>
			</div>
			<span>{{ btn.name | uppercase}}</span>
		</button>
	</div>
</mat-menu>

<mat-menu #personalMenu="matMenu">
	<button mat-menu-item [routerLink]="['/users', clientService.id]">VIEW PROFILE</button>
	<button mat-menu-item (click)="clientService.logout()">
		LOG OUT
	</button>
</mat-menu>