<mat-toolbar class="d-flex flex-row justify-content-between" [appColor]="themingService.bg.darken(.4)" [isBackground]="true">
	<!-- App Title -->
	<div class="d-flex align-items-center" [routerLink]="['/']">		
		<div class="no-select app-title" [class.is-loading]="appService.loading">
			<!-- Logo
			<div class="_logo"></div>
		 	-->

			<span class="_text">{{appService.title}}</span>

			<!-- Environment Indicator -->
			<span *ngIf="!isEnvironmentProd" class="_dev-stage-text env-offset" [appColor]="themingService.colors.primary._env[envName]">
				{{envName | uppercase}}.
			</span>
			<!-- Dev Stage Indicator -->
			<span class="text-nowrap _dev-stage-text" [class.d-none]="!appService.devStage">{{appService.devStage}}</span>
		</div>
	</div>

	<!-- Navigation Buttons -->
	<div class="nav-button-list justify-content-center flex-grow-1">
		<div [routerLink]="btn.path" [routerLinkActive]="['selected']"
			[routerLinkActiveOptions]="{ exact: true }"
			matRipple
			class="nav-button"
			*ngFor="let btn of navButtons">

			<div class="d-flex flex-grow-1 align-items-center" *ngIf="!btn.condition || (btn.condition | async)">
				<!-- Icon -->
				<div [ngSwitch]="btn.svg" class="_icon" [appColor]="btn.color">
					<mat-icon class=" d-flex align-self-center" *ngSwitchDefault [matTooltip]="viewportService.isSmallerThan('sm') ? btn.name : ''">
						{{btn.icon}}
					</mat-icon>

					<mat-icon *ngSwitchCase="true" [svgIcon]="btn.icon" [matTooltip]="viewportService.isSmallerThan('sm') ? btn.name : ''"></mat-icon>
				</div>
				<div class="mx-1"></div>

				<!-- Name -->
				<span class="_name d-none d-md-block">
					{{btn.name | uppercase}}
				</span>

				<!-- Select Indicator -->
				<div class="_select_indicator" routerLinkActive="selected">
					<div class="_line"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="d-inline-flex align-items-center flex-grow-0">
		<a mat-icon-button target="_blank" href="https://discord.gg/WyqtzzrU9t" matTooltip="Join Discord!">
			<mat-icon svgIcon="discord"></mat-icon>
		</a>
		<div class="mx-md-4"></div>

		<div [ngSwitch]="clientService.isAuthenticated() | async">
			<app-twitch-button *ngSwitchCase="false"></app-twitch-button>
			<app-user-name *ngSwitchCase="true" [showUsername]="viewportService.isLargerThan('md') | async"></app-user-name>	
		</div>
	</div>
</mat-toolbar>