<span class="user-name" (click)="onClick()" [class.clickable]="clickable">
    <span class="user-avatar" [style.width.em]="size[0]" *ngIf="showAvatar" [style.border-color]="user?.getColor() | async">
        <img [src]="target?.getAvatarURL() | async">
    </span>

    <span *ngIf="showUsername" class="text-truncate username-container"
        [style.color]="user?.getColor() | async"
        [style.max-width.px]="maxWidth"
        [style.font-size.em]="size[1]"
    >
        {{ target?.getUsername() | async }}
    </span>
</span>
<div *ngIf="contextMenu" [matMenuTriggerFor]="contextMenu" #contextMenuTrigger></div>