.user-name {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	&.clickable { cursor: pointer; }

	.user-avatar {
		display: flex;
		justify-content: center;
		align-items: center;
		border-style: solid;
		border-width: 1px;
		border-radius: 50%;
	
		img {
			height: 100%;
			width: 100%;
			clip-path: circle(50% at center);
		}

		margin-right: .33em;
	}
}
