.user-name {
	display: inline-flex;
	align-items: flex-start;
	box-sizing: border-box;
	&.clickable { cursor: pointer; }

	.username-container {
		display: inline-flex;
		align-self: flex-end;
	}

	.user-avatar {
		display: inline-flex;
		justify-content: flex-start;
		align-items: flex-end;
		border-style: solid;
		border-width: 1px;
		border-radius: 50%;
	
		img {
			height: 100%;
			width: 100%;
			clip-path: circle(50% at center);
		}

		margin-right: .33em;
	}
}
