.signed-in-user {
	display: flex;
	align-items: center;
	width: 100%;

	.username-container {
		display: block;
		.is-username {
			font-size: inherit;

			&.clickable { cursor: pointer; }
		}
		
	}


	.signed-in-avatar {
		display: flex;
		justify-content: center;
		align-items: center;
		border-color: currentColor;
		border-style: solid;
		border-width: 1px;
		border-radius: 50%;
	
		img {
			height: 100%;
			width: 100%;
			clip-path: circle(50% at center);
		}
	}
}