// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@use '~@angular/material' as mat;
@include mat.core();

// Import themes
@import './themes/dark.scss';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$seventv-app-primary: mat.define-palette(mat.$indigo-palette);
$seventv-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$seventv-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$seventv-app-theme: mat.define-light-theme((
  color: (
    primary: $seventv-app-primary,
    accent: $seventv-app-accent,
    warn: $seventv-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($seventv-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
	overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

mat-icon {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// Fix outline issue with bootstrap and angular material
:focus {outline:0 !important;}

.overlay-content-top-right {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

a.unstyled-link, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}