<div class="h-100 d-flex flex-column w-100">
	<div class="d-flex flex-grow-1 flex-row justify-content-around align-items-md-start h-100">
		<!-- Intro & Download Button -->
		<div class="d-flex flex-column intro align-items-center justify-content-start align-self-center">
			<div class="d-flex flex-row align-items-center pl-3">
				<div class="logo-container">
					<div class="logo-spacer d-none d-md-block w-100 py-3"></div>
					<div class="logo-wrapper">
						<object data="assets/brand/7tv-light.svg" height="{{logoSize}}" type="image/svg+xml"></object>
					</div>
				</div>	

				<div class="slogan-container">
					<h1 class="slogan-text">
						{{appService.description}}
					</h1>

					<div class="slogan-explanation">
						A new emote service and extension for Twitch. <a href [routerLink]="['/about']">Learn more.</a>
					</div>
				</div>
			</div>

			<span class="my-1"></span>

			<!-- Display Brwowser Downloads -->
			<p class="d-flex align-items-center">
				<mat-icon>download</mat-icon>
				<span class="mx-1"></span>
				<span>Downloads</span>
			</p>
			<span class="d-flex flex-row flex-wrap justify-content-center browser-downloads">
				<!-- Platform Variants Overlay -->
				<div [@variantsPanel]="(viewOtherPlatforms | async) ? 'opened' : 'closed'"
					class="platform-variants"
					[appColor]="themingService.bg.darken(.45).opaquer(-.235)" [isBackground]="true"
				>
					<!-- The third party platform cardss -->
					<div class="inner-container">
						<div class="close-panel">
							<button color="warn" mat-icon-button (click)="viewOtherPlatforms.next(false)">
								<mat-icon>close</mat-icon>
							</button>
						</div>

						<!-- Generate cards -->
						<div class="variant-cards mat-elevation-z1">
							<div
								class="variant-card"
								matRipple
								matRippleColor="rgb(0, 0, 0, 0.5)"
								appColor="white"
								[isBackground]="true"
								*ngFor="let v of platformVariants | async"

								(click)="openThirdPartyAppLink(v.platform, v)"
								(auxclick)="openThirdPartyAppLink(v.platform, v)"
							>
								<div class="platform-title">
									{{ v.name }}
								</div>

								<div class="platform-author" *ngIf="!!v.author">
									by {{ v.author }}
								</div>

								<div class="platform-description" *ngIf="!!v.description">
									{{ v.description }}
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Render Platform Icons -->
				<div *ngFor="let icon of browserIcons">
					<div class="browser-icon my-2">	
						<div class="tag" [class.new]="icon.tag?.new" [appColor]="icon.tag?.color" [isBackground]="icon.tag?.new || true">
							<span>{{icon.tag?.label}}</span>
						</div>
		
						<a [@browserIcon]
							matRipple
							[matRippleCentered]="true"
							[matRippleUnbounded]="true"
							[matRippleRadius]="8 * 6"
							[class.disabled]="icon.disabled"
							class="icon d-flex align-items-center unstyled-link"
							[matTooltip]="icon.tooltip || ''" 
							[href]="icon.href ? icon.href : ''"
							[ngSwitch]="icon.svgIcon"
						>
							<mat-icon *ngSwitchCase="true" [style.transform]="'scale(2)'" [svgIcon]="(themingService.getSvgIcon(icon.icon) | async) || ''" (click)="icon.click ? icon.click($event) : null" (auxclick)="icon.click ? icon.click($event) : null">
							</mat-icon>
							<mat-icon *ngSwitchCase="false" [style.transform]="'scale(2)'" (click)="icon.click ? icon.click($event) : null" (auxclick)="icon.click ? icon.click($event) : null">
								{{icon.icon}}
							</mat-icon>
						</a>
					</div>
				</div>
			</span>
		</div>

		<div class="d-none d-lg-flex feature-wrapper" *ngIf="(featuredUser | async) !== null">
			<div class="featured">
				<app-home-featured-stream [featuredUser]="featuredUser | async"></app-home-featured-stream>
			</div>
		</div>
	</div>

	<!-- Discord Call To Action -->
	<div class="d-flex flex-row flex-fill flex-grow-1">
		<span class="social-media-cta"
			matRipple
			[matRippleColor]="themingService.colors.discord_blurple.opaquer(-.25).rgb().toString()"
			(click)="openDiscordInvite($event)"
			(auxclick)="openDiscordInvite($event)"
			[class.d-none]="(discordWidget | async) === (null)"
			[appColor]="themingService.colors.discord_blurple.opaquer(-.88)" [isBackground]="true"
		>
			<a mat-icon-button [disableRipple]="true" target="_blank" class="d-flex flex-column align-items-center">
				<mat-icon [svgIcon]="(themingService.getSvgIcon('discord') | async) || ''"></mat-icon>
			</a>

			<div class="my-1"></div>
			<p>Join {{discordWidget.getValue()?.name}} on Discord!</p>
			<p class="font-italic">
				<span>{{discordWidget.getValue()?.presence_count}}</span>
				members online now
			</p>
		</span>

		<a class="social-media-cta unstyled-link"
			matRipple
			[matRippleColor]="themingService.colors.twitter_blue.opaquer(-.25).rgb().toString()"
			(click)="openExternalLink($event, appService.twitterURL)"
			(auxclick)="openExternalLink($event, appService.twitterURL)"
			[href]="appService.twitterURL"
			[appColor]="themingService.colors.twitter_blue.opaquer(-.88)" [isBackground]="true"
		>
			<a mat-icon-button [disableRipple]="true" target="_blank" class="d-flex flex-column align-items-center">
				<mat-icon [svgIcon]="(themingService.getSvgIcon('twitter') | async) || ''"></mat-icon>
			</a>
			Follow us on Twitter!
		</a>

		<a class="social-media-cta is-github d-none d-sm-flex unstyled-link"
			matRipple
			[matRippleColor]="'#f5f5f524'"
			(click)="openExternalLink($event, appService.githubURL)"
			(auxclick)="openExternalLink($event, appService.githubURL)"
			[href]="appService.githubURL"
			[appColor]="'#f5f5f5BF'" [isBackground]="true"
		>
			<mat-icon [svgIcon]="(themingService.getSvgIcon('github') | async) || ''"></mat-icon>
			Contribute
		</a>
	</div>

	<span></span>
	<span></span>
	<!-- Footer Links -->
	<div class="d-flex flex-row footer-options justify-content-center" [appColor]="themingService.bg.lighten(.05)" [isBackground]="true">
		<span class="d-flex flex-row align-items-center footer-option" *ngFor="let btn of footerOptions; let index = index;">
			<a *ngIf="!!btn.path" target="_blank" [href]="btn.path" class="text-muted">{{btn.name}}</a>
			<a *ngIf="!!btn.route" [routerLink]="btn.route"> {{btn.name}} </a>

			<div *ngIf="footerOptions.length > (index + 1)" class="mx-2 separator-ball d-block"></div>
		</span>
	</div>
</div>
