.logo-container {
	display: block;

	object {
		height: 45vw;
		max-height: 350px;
	}
}

.slogan-container {
	width: 230px;
	margin-right: 2em;

	.slogan-text {
		font-size: 3.33367em;
		text-align: center;
		line-height: 1.25em;
	}
}

.browser-icon {
	display: flex;
	flex-direction: column;
	align-items: center;

	.icon {
		cursor: pointer;
		border-radius: 50%;
		margin-left: 2em;
		margin-right: 2em;
		margin-bottom: 1em;

		&.disabled {
			cursor: not-allowed;
			pointer-events: none;
			color: grey;
		}
	}

	.tag {
		z-index: 1;

		display: flex;
		align-items: center;
		justify-content: center;

		margin-bottom: 1.15em;
		border-radius: 1em;
		max-width: 4em;
		font-size: .65rem;
		height: 16px;

		span {
			margin: .3em;
		}

		&.new {
			background: linear-gradient(124deg, #ff2400, #e81d1d, #2f9740, #3b9194, #2b1de8, #dd00f3, #dd00f3);
			background-size: 1800% 1800%;
			span {
				color: white;
				font-weight: bold;
				letter-spacing: 1px;
				padding: .5em;
			}

			-webkit-animation: rainbow 9s ease infinite;
			-z-animation: rainbow 9s ease infinite;
			-o-animation: rainbow 9s ease infinite;
			animation: rainbow 9s ease infinite;

			@-webkit-keyframes rainbow {
				0%{background-position:0% 82%}
				50%{background-position:100% 19%}
				100%{background-position:0% 82%}
			}
			@-moz-keyframes rainbow {
				0%{background-position:0% 82%}
				50%{background-position:100% 19%}
				100%{background-position:0% 82%}
			}
			@-o-keyframes rainbow {
				0%{background-position:0% 82%}
				50%{background-position:100% 19%}
				100%{background-position:0% 82%}
			}
			@keyframes rainbow { 
				0%{background-position:0% 82%}
				50%{background-position:100% 19%}
				100%{background-position:0% 82%}
			}
		}
	}
}

.feature-wrapper {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.browser-downloads {
	padding-right: 2em;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-style: solid;
	border-width: 0;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: currentColor;
}

.intro h1 {
	font-family: 'Work Sans', sans-serif;
}

.footer-options {
	min-height: 2em;
	min-width: 8em;
	border-radius: 4px;
	padding: .5em;

	.separator-ball {
		width: .5em;
		height: .5em;
		border-radius: 50%;
		background-color: currentColor;
	}

	.footer-option {
		cursor: pointer;
	}
}

.social-media-cta {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: .25em;
	cursor: pointer;

	p {
		line-height: .2em;
	}
}