.logo-container {
	display: flex;

	object {
		height: 33vh;
		max-height: 256px;
	}
}

.browser-icon {
	display: flex;
	flex-direction: column;
	align-items: center;

	.icon {
		cursor: pointer;
		border-radius: 50%;
		margin-left: 2em;
		margin-right: 2em;
		margin-bottom: 1em;
	}

	.tag {
		z-index: 1;

		display: flex;
		align-items: center;
		justify-content: center;

		margin-bottom: 1.15em;
		border-radius: 1em;
		max-width: 4em;
		font-size: .65rem;
		height: 16px;

		span {
			margin: .3em;
		}
	}
}

.browser-downloads {
	padding-right: 2em;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-style: solid;
	border-width: 0;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: currentColor;
}

.intro h1 {
	font-family: 'Work Sans', sans-serif;
}

.footer-options {
	.separator-ball {
		width: .5em;
		height: .5em;
		border-radius: 50%;
		background-color: currentColor;
	}
}

.discord-cta {
	p {
		line-height: .3em;
	}
}