<div class="h-100 d-flex flex-column justify-content-between align-items-center">
	<span></span>

	<!-- Intro & Download Button -->
	<div class="d-flex flex-column intro align-items-center justify-content-center">
		<h1>
			Yeah but 7TV is like a third party thing
		</h1>

		<span class="my-1"></span>

		<!-- Display Brwowser Downloads -->
		<span class="d-flex flex-row browser-downloads">
			<div [@browserIcon] matRipple [matRippleCentered]="true" [matRippleUnbounded]="true" [matRippleRadius]="8 * 6" class="browser-icon" *ngFor="let icon of browserIcons" [matTooltip]="'Install on ' + icon.icon">
				<mat-icon [style.transform]="'scale(2)'" [svgIcon]="icon.icon" (click)="icon.click ? icon.click($event) : null">

				</mat-icon>
			</div>

		</span>
	</div>

	<div class="d-flex flex-row footer-options">
		<span class="d-flex flex-row align-items-center" *ngFor="let btn of footerOptions; let index = index;">
			<a target="_blank" [href]="btn.path" class="text-muted">{{btn.name}}</a>

			<div *ngIf="footerOptions.length > (index + 1)" class="mx-1 separator-ball"></div>
		</span>
	</div>
</div>
