<div>
	<div #menuBox class="overlay-content mat-elevation-z4" [appColor]="themingService.bg.opaquer(-.25).darken(.3)" [isBackground]="true">
		<!-- Heading text / close button -->
		<div class="menu-heading">
			<h3>Notifications</h3>

			<div class="close-button" (click)="close()" matRipple [matRippleRadius]="16" [matRippleCentered]="true" [matRippleUnbounded]="true">
				<mat-icon>close</mat-icon>
			</div>
		</div>
		<div class="quick-actions">
			<a class="quick-action mark-all-read" (click)="markAllRead()" *ngIf="!clientService.isImpersonating && !allClear">
				Mark All Read
			</a>
		</div>

		<mat-divider appColor="currentColor" [isBackground]="true"></mat-divider>

		<!-- Render the list of notifications -->
		<div class="notify-list">
			<div *ngFor="let n of unreadNotifications | async">
				<app-notify-item [notification]="n"></app-notify-item>
			</div>

			<div class="all-clear" *ngIf="allClear">
				All clear!
			</div>
		</div>
	</div>

</div>
